<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TrackVision</display-name>
	<listener>
		<listener-class>servlets.InitializationServlet</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>menuFilterId</filter-name>
		<filter-class>servlets.MenuFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>menuFilterId</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>indexId</servlet-name>
		<servlet-class>servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexId</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>candidateId</servlet-name>
		<servlet-class>servlets.CandidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>candidateId</servlet-name>
		<url-pattern>/candidate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>questionnaryId</servlet-name>
		<servlet-class>servlets.QuestionnaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>questionnaryId</servlet-name>
		<url-pattern>/questionnary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listEmployeesId</servlet-name>
		<servlet-class>servlets.ListEmployeesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listEmployeesId</servlet-name>
		<url-pattern>/listEmployees</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>connectId</servlet-name>
		<servlet-class>servlets.ConnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connectId</servlet-name>
		<url-pattern>/connect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>disconnectId</servlet-name>
		<servlet-class>servlets.DisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>disconnectId</servlet-name>
		<url-pattern>/disconnect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mapId</servlet-name>
		<servlet-class>servlets.MapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mapId</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indicatorId</servlet-name>
		<servlet-class>servlets.IndicatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indicatorId</servlet-name>
		<url-pattern>/indicator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>apartmentId</servlet-name>
		<servlet-class>servlets.ApartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apartmentId</servlet-name>
		<url-pattern>/map/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApartmentOCServletId</servlet-name>
		<servlet-class>servlets.UtilisationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApartmentOCServletId</servlet-name>
		<url-pattern>/apartmentOC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mapAppartmentsServletId</servlet-name>
		<servlet-class>servlets.MapAppartmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mapAppartmentsServletId</servlet-name>
		<url-pattern>/mapAppartments</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>configAndUseServletId</servlet-name>
		<servlet-class>servlets.ConfigAndUseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configAndUseServletId</servlet-name>
		<url-pattern>/apartmentOC/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfigurationServletId</servlet-name>
		<servlet-class>servlets.ConfigurationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigurationServletId</servlet-name>
		<url-pattern>/utilisation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>packageId</servlet-name>
		<servlet-class>servlets.PackageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>packageId</servlet-name>
		<url-pattern>/package</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>choiceId</servlet-name>
		<servlet-class>servlets.PackageChoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>choiceId</servlet-name>
		<url-pattern>/packageChoice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dashboardId</servlet-name>
		<servlet-class>servlets.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dashboardId</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>healthId</servlet-name>
		<servlet-class>servlets.HealthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>healthId</servlet-name>
		<url-pattern>/health</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>notificationId</servlet-name>
		<servlet-class>servlets.NotificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>notificationId</servlet-name>
		<url-pattern>/notification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchId</servlet-name>
		<servlet-class>servlets.SearchResidentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchId</servlet-name>
		<url-pattern>/searchResidents</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>dataId</servlet-name>
		<servlet-class>servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataId</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>candidatelistId</servlet-name>
		<servlet-class>servlets.CandidateListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>candidatelistId</servlet-name>
		<url-pattern>/candidatelist</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>trackresidentId</servlet-name>
		<servlet-class>servlets.TrackResidentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trackresidentId</servlet-name>
		<url-pattern>/trackresident</url-pattern>
	</servlet-mapping>
</web-app>